<mat-card>
    <mat-list>
        <div mat-subheader>
            <h1>All Categories</h1>
        </div>
        <mat-list-item *ngFor="let category of categoryList">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{category.title}}</div>
            <div mat-line>{{category.description}}</div>
            <!-- <div class="container">
                <button mat-stroked-button color="accent" class="margin-right20">Update</button>
                <button mat-raised-button color="warn">Delete</button>
            </div> -->
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div class="container text-center mt20">
        <button mat-raised-button color="primary" routerLink="/admin/add-category">Add Category</button>
    </div>
</mat-card>