<div class="bootstrap-wrapper" *ngIf="!isSubmitted">
    <div class="container-fluid">
        <div class="row margin-top20">
            <div class="col-md-2">
                <!-- instructions -->
                <h1>Instructions</h1>
            </div>
            <div class="col-md-8">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>On Going Quiz: <strong>{{quizTitle}}</strong></h1>
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </ng-container>
                <mat-card *ngFor="let ques of questions; let i = index" class="margin-top20">
                    <mat-card-content>
                        <strong>Question {{i + 1}}:</strong>
                        <br>
                        <br>
                        <p [innerHTML]="ques.content">{{ques.content}}</p>
                        <mat-divider></mat-divider>
                        <br>
                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio" [value]="ques.option1" [name]=$any(i)
                                    [(ngModel)]="ques.givenAnswer" />{{ ques.option1 }}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="ques.option2" [name]=$any(i)
                                    [(ngModel)]="ques.givenAnswer" />{{ ques.option2 }}
                            </div>
                        </div>

                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio" [value]="ques.option3" [name]=$any(i)
                                    [(ngModel)]="ques.givenAnswer" />{{ ques.option3 }}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="ques.option4" [name]=$any(i)
                                    [(ngModel)]="ques.givenAnswer" />{{ ques.option4 }}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center margin-top20 margin-bottom20">
                    <button mat-raised-button color="primary" (click)="submitQuiz(quizId)">Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-2">
                <!-- timer/progress -->
                <h1>Progress</h1>
            </div>
        </div>
    </div>
</div>

<div class="bootstrap-wrapper" *ngIf="isSubmitted">
    <div class="row margin-top20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <span class="text-center">
                    <h1>Result for Quiz: <strong>{{quizTitle}}</strong></h1>
                </span>
                <mat-divider></mat-divider>
                <mat-card-content class="text-center margin-top20">
                    <h1>Marks Got: {{marksGot}}</h1>
                    <h1>Correct Answers: {{correctAnswers}}</h1>
                    <h1>Wrong Answers: {{wrongAnswers}}</h1>
                    <h1>Attempted Question: {{attempted}}</h1>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color="primary" class="margin-top20">
                        <mat-icon>print</mat-icon>
                        Print Result
                    </button>
                    <button [routerLink]="['/user-dashboard/0']" mat-raised-button color="primary" class="margin-top20">
                        <mat-icon>list</mat-icon>
                        Home
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>